<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>EXPRESS SKILLS</h1>
    <nav>
      <a href="/">HOME</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/skills">ALL SKILLS</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/skills/new">ADD SKILLS</a>
    </nav>