<!DOCTYPE html>
<html>
  <head>
    <title>Express skills</title>
    <link rel='stylesheet' href='public/stylesheets' />
  </head>
  <body>
    <h1>Express Skills</h1>
    <nav>
      <a href="/">HOME</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/skills">ALL SKILLS</a>
    </nav>