<!DOCTYPE html>
<html>
  <head>
    <title>Express To Dos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Skills</h1>
    <nav>
      <a href="/">HOME</a>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="/todos">ALL TODOS</a>
    </nav>